@keyframes fadeIn{0%{opacity:0}to{opacity:1}}

html:not(.loaded){
	min-height:100%;
	background:#fff 50% 50% no-repeat url(./spinner.svg);
	background-size:10%;
}

html:not(.loaded) body{display:none}

body{
	animation:fadeIn .5s ease 0s 1 forwards;
}